*~
.*.sw[op]
*.orig
.svn
.hg
build
dist
Trac.egg-info
*.py[co]
testenv
testing.log
functional-testing.log
trac/test.db
html
htmlcov
figleaf
.coverage
.figleaf*
*.figleaf
Makefile.cfg
doc/.build
*.mo
trac/htdocs/js/messages/*.js
.idea
.project
.pydevproject
.settings
/.tx/
/contrib/
/doc/
/sample-plugins/
/trac/
/tracopt/
/.appveyor.yml
/.hgeol
/.hgignore
/.travis.yml
/AUTHORS
/COPYING
/ChangeLog
/INSTALL.rst
/Makefile
/Makefile.cfg.sample
/PKG-INFO
/README.rst
/RELEASE.rst
/THANKS
/UPGRADE.rst
/messages-js.cfg
/messages.cfg
/requirements-release.txt
/setup.cfg
/setup.py
/setup_wininst.bmp
/tracini.cfg
