#!/usr/bin/make -f

%:
	dh $@ --with python2 --buildsystem=pybuild

override_dh_fixperms:
	cp *.egg-info/SOURCES.txt $(shell readlink -f debian/trac/usr/lib/python*/dist-packages/*.egg-info)/SOURCES.txt
	dh_fixperms
